/* Estilos gerais */
:root {
    --background-menu: #e0e0e0;
    --gray: #808080;
    --gray-dark: #333333;
}
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
}
/* Menu */
.menu-container {
    width: 100%;
    background-color: var(--background-menu);
    min-width: 324px;
}
.menu {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    min-height: 70px;
    max-width: 1100px;
    margin: auto;
}
.menu .icones-esquerda {
    display: flex;
    align-items: center;
}
.menu .icones-esquerda img:first-child {
    height: 50px;
}
.menu .icones-esquerda img:last-child {
    height: 30px;
}
.menu .icones-esquerda h1 {
    font-size: 1.2rem;
    margin-left: 10px;
    color: var(--gray-dark);
    font-weight: normal;
}
.menu .lista-links ul {
    list-style: none;
    display: inline-flex;
    background-color: #ffffff;
    padding: 10px;
}
.menu .lista-links ul li:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0px 10px;
    margin: 0px 10px;
}
.menu .lista-links ul li a {
    text-decoration: none;
    color: var(--gray-dark);
    padding: 9px 5px;
    transition: color 0.3s;
    border-radius: 3px;
}
.menu .lista-links ul li a:hover {
    transition: all .3s;
    background-color: var(--gray-dark);
    color: #fff;
    cursor: pointer;
}
/* Menu lateral */
.menu .icones-esquerda #hamburguer-icon {
    display: none;
}
/* Estilos genéricos de conteúdo */
h2 {
    text-align: center;
    font-size: 1.1rem;
    margin: 10px auto;
}
h3 {
    font-size: 1rem;
}
.conteudo {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 20px;
    width: 80%;
    max-width: 1100px;
    min-width: 300px;
}
/* Formulário de nova transação */
.form-nova-transacao {
    border: 1px solid var(--gray);
    border-radius: 5px;
    display: table;
    flex-direction: column;
    padding: 10px;
    width: 40%;
    min-width: 279px;
}
.form-nova-transacao .container-input {
    display: flex;
    flex-direction: column;
}
.form-nova-transacao .container-input label {
    margin: 15px 0px 5px 0px;
}
.form-nova-transacao .container-input input,
.form-nova-transacao .container-input select {
    padding: 10px;
    color: var(--gray);
    font-size: 1.0rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
}
.form-nova-transacao .container-input p {
    color: #ff182b;
    text-align: right;
    display: none;
}
.form-nova-transacao .container-button {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.form-nova-transacao .container-button button.adicionar-transacao {
    border: none;
    background-color: var(--gray-dark);
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.0rem;
    padding: 10px 0px;
    margin-top: 15px;
    width: 100%;
    transition: background-color 0.3s;
}
.form-nova-transacao .container-button button.adicionar-transacao:hover {
    cursor: pointer;
    background-color: var(--gray);
}
/* Extrato */
.extrato {
    display: flex;
    flex-direction: column;
    width: 55%;
    min-width: 300px;
}
.extrato #lista-transacoes {
    display: none;
}
.extrato p#sem-transacoes {
    text-align: center;
    margin-top: 40px;
}
.extrato .descricao {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-bottom: 5px;
    margin-top: 15px;
    border-bottom: 1px solid var(--gray);
}
.extrato .line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
    padding: 8px 0px;
}
.extrato .line .transacao .sinal {
    width: 25px;
    text-align: center;
}
.extrato .line .transacao {
    display: flex;
    justify-content: space-between;
    max-width: 65%;
}
.extrato .resumo-transacoes {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid var(--gray);
}
.extrato .resumo-transacoes .resultado {
    display: flex;
    flex-direction: column;
    text-align: right;
}
/* Media-querys */
@media (max-width: 1000px) {
    .menu {
        width: 95%;
    }
    .conteudo {
        width: 95%;
    }
}
@media (max-width: 800px) {
    .conteudo {
        flex-wrap: wrap;
    }
    .menu .lista-links {
        display: none;
    }
    .menu .icones-esquerda {
        width: 100%;
        justify-content: space-between;
    }
    .menu .icones-esquerda h1 {
        margin-left: 0;
    }
    .menu .icones-esquerda #hamburguer-icon {
        display: initial;
    }
    .form-nova-transacao, .extrato {
        width: 100%;
    }
    .form-nova-transacao .containers-wrapper {
        display: flex;
    }
    .form-nova-transacao .containers-wrapper .container-input:nth-child(1),
    .form-nova-transacao .containers-wrapper .container-input:nth-child(3) {
        width: 25%;
    }
    .form-nova-transacao .containers-wrapper .container-input:nth-child(2) {
        margin: 0 3%;
        width: 44%;
    }
    .form-nova-transacao .container-button button.adicionar-transacao {
        width: 30%;
    }
    .extrato {
        margin-top: 40px;
    }
}
@media (max-width: 559px) {
    .conteudo {
        padding: 0 10px;
        margin-top: 10px;
    }
    .form-nova-transacao {
        border: none;
        border-bottom: 1px solid var(--gray);
        padding-bottom: 30px;
    }
    .form-nova-transacao > h2 {
        display: none;
    }
    .form-nova-transacao .containers-wrapper {
        display: flex;
        flex-direction: column;
    }
    .form-nova-transacao .containers-wrapper .container-input:nth-child(1),
    .form-nova-transacao .containers-wrapper .container-input:nth-child(2),
    .form-nova-transacao .containers-wrapper .container-input:nth-child(3) {
        margin: auto 0px;
        width: 100%;
    }
    .form-nova-transacao .container-button button.adicionar-transacao {
        width: 100%;
    }
}